<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- ================= ROOT MENU ================= -->
        <menuitem id="menu_root"
                  name="Quản lý nhân sự"
                  sequence="5"/>

        <!-- ================= QUẢN LÝ NHÂN VIÊN ================= -->
        <menuitem id="menu_nhan_vien_root"
                  name="Nhân viên"
                  parent="menu_root"
                  sequence="1"/>

        <menuitem id="menu_nhan_vien"
                  name="Danh sách nhân viên"
                  parent="menu_nhan_vien_root"
                  action="action_nhan_vien"
                  sequence="1"/>

        <menuitem id="menu_lich_su_cong_tac"
                  name="Lịch sử công tác"
                  parent="menu_nhan_vien_root"
                  action="action_lich_su_cong_tac"
                  sequence="2"/>

        <!-- ================= TỔ CHỨC ================= -->
        <menuitem id="menu_to_chuc_root"
                  name="Tổ chức"
                  parent="menu_root"
                  sequence="2"/>

        <menuitem id="menu_phong_ban"
                  name="Phòng ban"
                  parent="menu_to_chuc_root"
                  action="action_phong_ban"
                  sequence="1"/>

        <menuitem id="menu_chuc_vu"
                  name="Chức vụ"
                  parent="menu_to_chuc_root"
                  action="action_chuc_vu"
                  sequence="2"/>
    </data>
</odoo>
